/* @import must be at top of file, otherwise CSS will not work */
@font-face {
    font-family: 'lb_30A393D';
    src: url('./lb_30A393D.eot');
    src: url('./lb_30A393D.eot?#iefix') format('embedded-opentype'), url('./lb_30A393D.woff2') format('woff2'), url('./lb_30A393D.woff') format('woff'), url('./lb_30A393D.ttf') format('truetype');
}
@font-face {
    font-family: 'l_30A393D';
    src: url('./l_30A393D.eot');
    src: url('./l_30A393D.eot?#iefix') format('embedded-opentype'), url('./l_30A393D.woff2') format('woff2'), url('./l_30A393D.woff') format('woff'), url('./l_30A393D.ttf') format('truetype');
}
